module.exports = {
    estate: {
        "cloud_name": {
            key: 123456789,
            secret: "cloudinary_secret_key",
            name: "cloud_name",
            preset: "unsigned_upload",
        },
    },
    news: {
        "cloud_name": {
            key: 123456789,
            secret: "cloudinary_secret_key",
            name: "cloud_name",
            preset: "unsigned_upload",
        },
    },
};