<!DOCTYPE html>
<html lang="vi">
    <%- include('../partials/head', { title: "Không tìm thấy trang" }) %>
    <body>
        <main class="flex items-center justify-center w-full h-screen">
            <div class="text-center">
                <div class="font-black text-9xl text-encacap-main">404</div>
                <div>
                    <div class="py-4 text-4xl font-semibold text-encacap-main">
                        Không tìm thấy trang
                    </div>
                    <div class="mb-8 py-2 px-4 text-gray-500">
                        Hãy chắc chắn đường dẫn mà bạn nhập là chính xác và thử
                        lại.
                    </div>
                    <a
                        href="/"
                        class="
                            duration-200
                            bg-encacap-main
                            hover:bg-yellow-600
                            px-6
                            py-3
                            rounded-md
                            text-white
                            font-semibold
                        "
                    >
                        Quay lại trang chủ
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>
