<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/app.min.css" />
        <link
            rel="shortcut icon"
            href="/assets/images/logo.png"
            type="image/x-icon"
        />
        <title>Encacap Estate</title>
    </head>
    <body>
        <main class="flex items-center justify-center w-full h-screen">
            <div class="text-center">
                <div class="font-black text-9xl text-encacap-main">404</div>
                <div>
                    <div class="py-4 text-4xl font-semibold text-encacap-main">
                        Không tìm thấy trang
                    </div>
                    <div class="mb-8 py-2 px-4 text-gray-500">
                        Hãy chắc chắn đường dẫn mà bạn nhập là chính xác và thử
                        lại.
                    </div>
                    <a
                        href="/"
                        class="
                            duration-200
                            bg-encacap-main
                            hover:bg-yellow-600
                            px-6
                            py-3
                            rounded-md
                            text-white
                            font-semibold
                        "
                    >
                        Quay lại trang chủ
                    </a>
                </div>
            </div>
        </main>
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
