<% const { error } = locals %>
<!DOCTYPE html>
<html lang="vi">
    <%- include('../partials/head', { title: "Đã xảy ra lỗi" }) %>
    <body>
        <main class="flex items-center justify-center w-full h-screen">
            <div class="text-center">
                <div class="font-black text-9xl text-encacap-main">500</div>
                <div>
                    <div class="py-4 text-4xl font-semibold text-encacap-main">
                        Đã xảy ra lỗi không mong muốn
                    </div>
                    <div class="mb-8 py-2 px-4 text-gray-500">
                        Có thể chúng tôi đang khắc phục lỗi này. Hãy thử tải lại trang.
                    </div>
                    <a
                        href=""
                        class="
                            duration-200
                            bg-encacap-main
                            hover:bg-yellow-600
                            px-6
                            py-3
                            rounded-md
                            text-white
                            font-semibold
                        "
                    >
                        Tải lại trang
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>
